/* Color pallet */
$white00: #ffffff;
$white10: #fafafa;
$white20: #f6f6f6;

$grey10: #eeeeee;
$grey20: #dbdbdb;
$grey30: #aaaaaa;
$grey40: #858585;
$grey50: #636363;
$grey60: #434343;

$black00: #000000;

$primary-main: #33ad73;
$primary-light: #d5f3e5;

$secondary-main: #00a99d;
$secondary-light: #e1f3f2;

$tertiary-main: #e58a28;
$tertiary-light: #fbe6ce;

$quaternary-main: #ec6a6a;
$quaternary-light: #ffe0e1;

$quinary-main: #a26ae1;
$quinary-light: #e9d9fb;

$danger-main: #b54025;
$danger-light: #f7d7d0;

.pg-card {
    position: relative;

    max-width: 400px;
    padding: 12px 40px;
    border-radius: 12px;

    color: $grey60;
    box-shadow: 3px 3px 20px rgba($black00, 0.2);

    transition: all 0.3s;
}

.pg-card:hover,
.pg-card:focus,
.pg-card:active {
    box-shadow: 3px 3px 20px rgba($black00, 0.3);
}

.pg-card * {
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.pg-title {
    font-size: 2.1rem;
    font-weight: 700;

    text-transform: uppercase;
}

.pg-text {
    line-height: 1.5;
    font-size: 1.2rem;
}

.pg-text > .pg-carbon-stats {
    font-size: 2.1rem;
}

.pg-text > strong {
    font-weight: 700;
}

.pg-default {
    background-color: $white10;
}

.pg-primary {
    background-color: $primary-light;
}
.pg-primary strong {
    color: $primary-main;
}

.pg-secondary {
    background-color: $secondary-light;
}
.pg-secondary strong {
    color: $secondary-main;
}

.pg-tertiary {
    background-color: $tertiary-light;
}
.pg-tertiary strong {
    color: $tertiary-main;
}

.pg-quaternary {
    background-color: $quaternary-light;
}
.pg-quaternary strong {
    color: $quaternary-main;
}

.pg-quinary {
    background-color: $quinary-light;
}
.pg-quinary strong {
    color: $quinary-main;
}

.pg-danger {
    color: $danger-main;
    background-color: $danger-light;
}
